.x-form-text {
	display: inline !important;
}

.subtitle {
	font-weight: 400;
}

.fancy {
	line-height: 0.5;
	text-align: center;
}

.fancy span {
	display: inline-block;
	position: relative;
}

.fancy span:before, .fancy span:after {
	content: "";
	position: absolute;
	height: 4px;
	border-bottom: 1px solid #d0d0d0;
	top: 0;
	width: 600px;
}

.fancy span:before {
	right: 100%;
	margin-right: 15px;
	margin-left: 10px;
}

.fancy span:after {
	left: 100%;
	margin-left: 15px;
}

.app_link_btn.x-btn-default-small, .app_link_btn.x-btn-default-small.x-btn-menu-active,
	.app_link_btn.x-btn-default-small.x-btn-focus {
	border: none;
	background-color: transparent !important;
	box-shadow: none;
}

.app_link_btn.x-btn-default-small .x-btn-inner-default-small {
	color: #404040;
}

.app_link_btn.x-btn-default-small .x-btn-icon-el-default-small {
	color: #404040;
}

.app_link_btn.x-btn-default-small.x-btn-over.x-btn-pressed .x-btn-inner-default-small
{
	color: #404040;
}

.app_link_btn.x-btn-default-small.x-btn-over.x-btn-pressed .x-btn-icon-el-default-small
{
	color: #404040;
}

.app_link_btn.x-btn-default-small.x-btn-over .x-btn-inner-default-small
{
	color: #404040;
	text-decoration: underline;
}

.app_link_btn.x-btn-default-small.x-btn-over .x-btn-icon-el-default-small
{
	color: #404040;
}